doctype html
html
  head
      include ./includes/head.jade
  body
    .wrapper
      include ./includes/header.jade
      .promo-logo-holder
        img(src='images/main-promo-logo.png', alt="BIIR - Let's work together. Design and Engineering")
      include ./includes/footer.jade
    // .wrapper
