@media only screen and (max-width: 975px), only screen and (max-device-width: 975px) {
  #nav {
    font-size: 21px;
  }
  #nav ul a {
    padding-bottom: 14px;
  }
  .footer-info-list li {
    float: none;
    width:100% !important;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  .nav-toggle-btn {
    display: block;
    z-index:1;
  }
  #header .logo {
    position: absolute;
    top: 15px;
    left: 0;
    z-index:1;
  }
  #nav {
    vertical-align: middle;
    padding:65px 0 0;
    display: block;
    ul {
      height: 0;
      opacity: 0;
      @include transition-property(all);
      @include transition-duration(0.6s);
      @include transition-timing-function(ease-in);
      li {
        float: none;
        width:100%;
        padding:0;
        a {
          padding-top: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
  .promo-logo-holder img {
    width:70%;
  }
  #footer .holder {
    width:93%;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #footer {
    font-size: 14px;
    .holder {
      width:95%;
    }
  }
}