#header:after, #nav ul:after, .footer-info-list:after {
  display: block;
  content: '';
  clear: both;
}

#nav ul a:after, #footer .holder:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  -webkit-text-size-adjust: 100%;
}

input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea {
  -webkit-appearance: none;
}

textarea,
input[type=submit],
input[type=text] {
  -webkit-border-radius: 0;
}

input[type="image"] {
  padding: 0;
  border: none;
}

img {
  border: none;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input, textarea, select {
  font: 100% "Lucida Grande", arial, sans-serif;
  vertical-align: middle;
  color: #000;
}

label {
  vertical-align: middle;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: 'Purista-Light';
  src: url("../fonts/Purista-Light_gdi.eot");
  src: url("../fonts/Purista-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Purista-Light_gdi.woff") format("woff"), url("../fonts/Purista-Light_gdi.ttf") format("truetype"), url("../fonts/Purista-Light_gdi.svg#Purista-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265;
}
@font-face {
  font-family: 'Purista-SemiBold';
  src: url("../fonts/Purista-SemiBold_gdi.eot");
  src: url("../fonts/Purista-SemiBold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Purista-SemiBold_gdi.woff") format("woff"), url("../fonts/Purista-SemiBold_gdi.ttf") format("truetype"), url("../fonts/Purista-SemiBold_gdi.svg#Purista-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265;
}
body {
  font: 14px Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  background: #fff;
  color: #000;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

a {
  color: #35c3e4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.logo, #nav, .footer-info-list {
  display: table-cell;
  vertical-align: bottom;
}

.logo {
  width: 15%;
  min-width: 145px;
}

#footer .holder {
  width: 90%;
  margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
  padding: 15px 0 0;
  position: relative;
  overflow: hidden;
}

#nav {
  text-transform: uppercase;
  font: 28px "Purista-Light";
}
#nav ul li {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 4px;
  width: 16.66%;
}
#nav ul a {
  color: #000;
  padding-bottom: 18px;
  position: relative;
  text-decoration: none;
  display: block;
}
#nav ul a:after {
  height: 4px;
  width: 100%;
  background: #22c3f2;
  right: 0;
  top: auto;
  bottom: 0;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#nav ul a:hover:after {
  height: 8px;
}

.nav-toggle-btn {
  position: absolute;
  top: 20px;
  right: 0;
  background: #22c3f2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 50px;
  height: 30px;
  padding: 4px 0;
  color: #fff;
  display: none;
  text-decoration: none !important;
  cursor: pointer;
}
.nav-toggle-btn span {
  display: block;
  background: #fff;
  width: 63%;
  height: 2px;
  margin: 6px auto;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.logo {
  margin: 0;
  padding: 0 8px 0 0;
}
.logo img {
  width: 100%;
  display: block;
  border: none;
}

/* Middle
-----------------------------------------------------------------------------*/
.wrapper {
  max-width: 1250px;
  padding: 0 10px;
  min-width: 300px;
  margin: 0 auto;
}

.promo-logo-holder {
  text-align: center;
  padding: 12% 0;
}
.promo-logo-holder img {
  width: 500px;
  vertical-align: top;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  color: #fff;
  padding: 30px 0;
  background: #22c3f2;
  font-size: 17px;
}
#footer a {
  color: #fff;
}
#footer .holder {
  position: relative;
}
#footer .holder:before {
  height: 10px;
  width: 100%;
  right: 0;
}
#footer .logo {
  min-width: 105px;
}

.footer-info-list li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 0 5px 0 0;
  text-align: left;
}
.footer-info-list li:first-child {
  width: 40%;
}
.footer-info-list li:last-child {
  width: 35%;
}
.footer-info-list dl {
  overflow: hidden;
}
.footer-info-list dl dt {
  float: left;
  margin: 0 4px 0 0;
  clear: left;
}
.footer-info-list dl dd {
  float: left;
}

.hidden {
  visibility: hidden;
}

#nav ul a.active {
  font-family: "Purista-SemiBold";
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  #nav ul.active {
    height: 340px;
    opacity: 1;
  }
}
@media only screen and (max-width: 975px), only screen and (max-device-width: 975px) {
  #nav {
    font-size: 21px;
  }

  #nav ul a {
    padding-bottom: 14px;
  }

  .footer-info-list li {
    float: none;
    width: 100% !important;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  .nav-toggle-btn {
    display: block;
    z-index: 1;
  }

  #header .logo {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
  }

  #nav {
    vertical-align: middle;
    padding: 65px 0 0;
    display: block;
  }
  #nav ul {
    height: 0;
    opacity: 0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  #nav ul li {
    float: none;
    width: 100%;
    padding: 0;
  }
  #nav ul li a {
    padding-top: 14px;
  }
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
  .promo-logo-holder img {
    width: 70%;
  }

  #footer .holder {
    width: 93%;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #footer {
    font-size: 14px;
  }
  #footer .holder {
    width: 95%;
  }
}
