.hidden {
  visibility: hidden;
}
#nav ul a.active {
  font-family:$fontAddBold;
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  #nav ul.active {
    height:340px;
    opacity: 1;
  }
}
