header#header
  h1.logo
    a(href='index.html')
      img(src='images/logo.png', alt='BIIR')
  nav#nav
    a.nav-toggle-btn(href='#')
      span  
      span  
      span  
    ul
      li
        a(href='') About
      li
        a(href='') Services
      li
        a(href='') Work
      li
        a(href='') Team
      li
        a(href='') Contact
      li
        a(href='') Job
  // #nav
// .header
