header#header
  h1.logo
    a(href='index.html')
      img(src='images/logo.png', alt='BIIR')
  nav#nav
    a.nav-toggle-btn(href='#')
      span 
      span 
      span 
    ul
      li
        a(href='about.html') About
      li
        a(href='services.html') Services
      li
        a(href='work.html') Work
      li
        a(href='team.html') Team
      li
        a(href='contact.html') Contact
      li
        a(href='job.html') Job
  // #nav
// .header
